*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #fff;
}
header {
        display: flex;
    /* justify-content: space-between; */
}
.logo{
    margin: 5px 5px 5px 5px;
    display:flex;
    width: 70%;
    height: 100px;
    position: absolute;
}
.logo_img{
max-width: 100%;
max-height: 100%;
}
#menu {
    width: 35px;
    height: 30px;
    margin: 30px 30px 30px 80%;
    cursor: pointer;
    
}
#menu-bars{
    width: 100%;
  justify-content: flex-end;
}
.bar {
    height: 5px;
    width: 100%;
    background-color: #b81568;
    display: block;
    border-radius: 5px;
}
#bar1{
    transform: translateY(-4px);
}
#bar3{
    transform: translateY(4px);
}
.nav .list-item a{
    color: black;
    text-decoration: none;
}
.nav .list-item a:hover{
    font-weight: bold;
}
.nav .list-item {
    list-style: none;
    padding: 16px 0;
}
.nav {
    margin: 0;
    display: none;
}
 #menu-bar {
     width: 100%;
    display: flex;
    /* top: 0;
    right: 0;
    position: absolute; */
}

.change .bar {
    background-color: black;
}
.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}
.change #bar2{
    opacity: 0;
}
.change {
    display: block;
    text-align: center;
}
#social-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    justify-content: space-around;
    
}
.header_image{
height: 30vh;
width: 100%;
background-image: url(./img/office-820390_1280.webp);
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
}

.style_img{
    background-color:rgba(36, 36, 36, 0.56);
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.text_wrapper{
    width: 90%;
    padding: 15% 5% 5% 5%;  
}
.article {
color: #fff;
font-size: 28px;
margin-bottom: 10%;
}
.article_text{
color: #fff;
font-weight: bold;
font-size: 14px;
}


